body {
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}

div {
  display: block;
  width: 100%;
}

#stats {
  white-space: nowrap;
}

.stats-panel {
  display: inline-block;
  width: 50%;
}

.stats-panel > img {
  display: block;
  margin: 0 auto;
}
